---
import { basics } from '@/static/public.json'

const { name, label, location, image, email } = basics
const { city, countryCode, region } = location
---

<header>
	<section class="container">
		<article class="info">
			<h1>{name}</h1>
			<h2>{label}</h2>
			<span>
				{countryCode}, {city}
				{region}
			</span>
		</article>
		<nav>
			<a
				href={`mailto:${email}`}
				title=`Enviar correo electronico a ${name} al correo ${email}`
				target="_blank"
				rel="noopener noreferrer"
			>
				<!-- Icono -->
				{email}
			</a>
		</nav>
		<figure>
			<img src={image} alt={name} />
		</figure>
	</section>
</header>
<style></style>
