---
import Wrapper from '@/containers/Wrapper.astro'
import contacts from '@/helpers/contact-me'
import { basics } from '@/static/resume-es.json'

const { name, label, location, image } = basics
const { city, region } = location
---

<Wrapper>
	<article class="hero">
		<div>
			<h1 class="hero__title">{name}</h1>
			<h2 class="hero__subheading">{label}</h2>
			<span class="hero__location">{city}, {region}</span>
			<nav class="contact">
				{
					contacts.map(({ reference, context, resource, container }) => (
						<a
							class="contact__reference"
							href={reference}
							title={context}
							target="_blank"
							rel="noopener noreferrer"
						>
							<img src={resource} alt={container} width="20px" height="20px" />
							{container}
						</a>
					))
				}
			</nav>
		</div>
		<figure class="photo">
			<img src={image} alt={name} />
		</figure>
	</article>
</Wrapper>

<style>
	.hero {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-right: 32px;
	}

	.hero__title {
		font-size: 2rem;
	}

	.hero__subheading {
		color: #444;
		font-weight: 500;
		font-size: 1.1rem;
		text-wrap: balance;
	}

	.hero__location {
		color: #666;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 0.85rem;
		letter-spacing: -0.05rem;
	}

	.contact {
		color: #555;
		font-size: 0.65rem;
		display: flex;
		gap: 4px;
		margin-top: 8px;
	}

	.contact__reference {
		color: #777;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #eee;
		padding: 5px;
		border-radius: 6px;
		transition: all 0.3s ease;
	}

	.contact__reference:hover {
		background: #eee;
		border: 1px solid #ddd;
	}

	.photo img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		width: 128px;
		border-radius: 16px;
	}

	@media (width <= 700px) {
		section {
			flex-direction: column-reverse;
		}

		.hero {
			justify-content: center;
			align-items: center;
			padding-right: 0;
			text-align: center;
		}

		.photo {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}

		.hero__subheading {
			text-wrap: balance;
		}
	}
</style>
