---
import Media from '@/components/Media.astro'
import Wrapper from '@/containers/Wrapper.astro'
import { basics } from '@/static/resume-es.json'

const { name, label, location, image } = basics
const { city, region } = location
---

<Wrapper>
	<article class="hero">
		<div>
			<h1 class="hero__title">{name}</h1>
			<h2 class="hero__subheading">{label}</h2>
			<span class="hero__location">{city}, {region}</span>
			<Media />
		</div>
		<figure class="photo">
			<img src={image} alt={name} width="128px" />
		</figure>
	</article>
</Wrapper>

<style>
	.hero {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-right: 32px;
	}

	.hero__title {
		font-size: 2rem;
	}

	.hero__subheading {
		color: #444;
		font-weight: 500;
		font-size: 1.1rem;
		text-wrap: balance;
	}

	.hero__location {
		color: #666;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 0.85rem;
		letter-spacing: -0.05rem;
	}

	.photo img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		border-radius: 16px;
	}

	@media (width <= 700px) {
		section {
			flex-direction: column-reverse;
		}

		.hero {
			justify-content: center;
			align-items: center;
			padding-right: 0;
			text-align: center;
		}

		.photo {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}

		.hero__subheading {
			text-wrap: balance;
		}
	}
</style>
