---
import { contacts } from '@/helpers/contact-me'
---

<nav>
	{
		contacts.map(({ reference, context, resource, container }) => (
			<>
				<footer class="print">{`${reference.replace('mailto:', '')}`}</footer>
				<footer class="no-print">
					<a
						href={reference}
						title={context}
						target="_blank"
						rel="noopener noreferrer"
					>
						<img src={resource} alt={container} width="20" height="20" />
						{container}
					</a>
				</footer>
			</>
		))
	}
</nav>

<style>
	nav {
		color: #555;
		font-size: 0.65rem;
		display: flex;
		gap: 4px;
		margin-top: 8px;
	}

	footer {
		color: #555;
		font-size: 1.2em;
	}

	a {
		color: #777;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #eee;
		padding: 5px;
		border-radius: 6px;
		transition: all 0.3s ease;
	}

	a:hover {
		background: #eee;
		border: 1px solid #ddd;
	}

	nav img {
		margin-right: 5px;
	}
</style>
